.row {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 10px;
}
.value {
  font-size: 32px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: "Courier New", Courier, monospace;
}
