.App {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  grid-template:
    "header header" 64px
    "left   main" 1fr
    / 250px 1fr;
}
.root {
  grid-area: main;
  margin-top: 20px;
  margin-left: 20px;
}
.dummyrow {
  margin-top: 64px;
}
